version: "3.8"

services:
     postgres:
          image: postgres:15.15-trixie
          container_name: postgres
          restart: always
          environment:
               POSTGRES_USER: postgres
               POSTGRES_PASSWORD: mysecretpassword
               POSTGRES_DB: terra_verify
          ports:
               - "5432:5432"
          volumes:
               - pgdata:/var/lib/postgresql/data

volumes:
     pgdata:
